<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white p-6 ">
   <a class="nav-link active mt-3 ml-3 p-3" aria-current="page" href="/blog"><img
         src="https://cdn.worldvectorlogo.com/logos/insite-vision.svg" class="logoImg"></a>
   <div class="mt-4 ml-4 p-3 navbar-nav textsNavBar d-flex justify-content-center align-items-center">
      <a class="hoverWhite textown nav-link active text-secondary" aria-current="page" href="/blog">Home</a>
      <a class="hoverWhite textDown nav-link active text-secondary" aria-current="page" href="/admin">Administration</a>
   </div>
</nav>